body {
  font-family: "Commodore64", Arial, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #000;
  background-image: url("DreamMachineBackdrop.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("buttoncontainers.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

header {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: transparent;
  color: #00ff00;
  z-index: 2;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.center-box {
  font-size: 25px;
  text-align: center;
  padding: 20px;
  border: 2px solid rgba(0, 0, 0, 0);
  color: #00ff00;
  margin-bottom: 350px;
  margin-right: 41px;
  width: 300px;
  word-wrap: break-word;
}

button {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

#submitBtn,
#dreamBtn,
#showcaseBtn,
#whatAmIBtn,
#generateBtn {
  color: #00ff00;
}

#submitBtn {
  font-size: 25px;
  padding: 20px;
  width: 320px;
  height: 50px;
  margin-left: 50px;
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0);
}

#dreamBtn {
  font-size: 70px;
  padding: 15px;
  width: 830px;
  height: 100px;
  margin-left: 65px;
  margin-right: 15px;
  margin-top: -10px;
  background-color: rgba(0, 0, 0, 0);
}

#showcaseBtn {
  font-size: 25px;
  padding: 25px;
  width: 320px;
  height: 40px;
  margin-left: 50px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0);
}

#whatAmIBtn {
  width: 215px;
  height: 35px;
  background-color: #000;
  color: #00ff00;
  margin-right: 1460px;
  margin-left: 5px;
  margin-bottom: 25px;
}

#generateBtn {
  width: 50px;
  height: 50px;
  margin-right: 803px;
  margin-bottom: 20px;
  border-radius: 50%;
  background-color: #000000;
  position: fixed;
  bottom: 345px;
  right: 57px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

#generateBtn::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  display: block;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: transparent;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #00ff00;
  z-index: 2;
}
